<div class="main">

    <div class="text-base text-slate-500 font-medium">OUR INTEGRATIONS</div>
    <div class="text-2xl font-medium">Daraz,Shopify & All</div>
    <div class="text-2xl font-medium">
        Your Ecommerce Integrations In One Platform
    </div>
    <div class="flex mt-8 justify-center">
        <div  class="border-dashed border flex justify-center items-center circelrounded w-[430px] h-[430px] border-green-500">
            <div  class="border-dashed  relative circle border w-[380px] h-[380px] border-green-500" >
                <ng-container  *ngFor="let item of names;let i=index">
                 <div class="name drop-shadow-md absolute top-12 h-8 w-24 text-center font-medium  bg-white " [ngStyle]="calculatePosition(i)">
                    {{item}}
                 </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>